Paleta de Cores
:root {
    --primary-color: #200D00;
    /* Azul Elétrico Profundo - Cor do logótipo */
    --secondary-color: #E5E8FF;
    /* Azul Claro Suave - Fundos, destaque */
    --text-color: #2A2A2A;
    /* Cinza Antracito - Texto principal */
    --background-color: #F8F6F6;
    /* Cinza Neve - Fundo geral da página */
    --error-color: #FF5A5F;
    /* Vermelho Coral - Erro */
    --success-color: #00C48C;
    /* Verde Suave - Sucesso */
}

/* Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-login {
  @apply border-2 border-[var(--primary-color)] text-[var(--primary-color)] px-4 py-2 rounded transition hover:bg-[var(--primary-color)] hover:text-white font-semibold;
}
.btn-donate {
  @apply bg-[var(--primary-color)] text-white px-6 py-2 rounded font-semibold hover:bg-[#140800] transition;
}

/* Adicione ao seu style.css ou dentro de <style> */
#side-menu {
    right: -250px;
}
#side-menu.open {
    right: 0;
}